@model IEnumerable<PocMVCApp.Entities.UserPrimaryInfo>
@inject PocMVCApp.Services.Interfaces.IImageService _imageService

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    @if (!Model.Any())
    {
        <div class="row mt-4 justify-content-center">
            <div class="col-12 align-self-center p-0">
                <div class="card mx-auto">
                    <div class="card-body p-5">
                        <h5 class="card-title">Ready to get started?</h5>
                        <p class="card-text">Enter your information to create a new profile.</p>
                        <a asp-action="Create" class="btn btn-lg btn-primary w-100">Create</a>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {

        @foreach (var item in Model)
        {
            @*Card Section*@
            <div class="row d-flex justify-content-center">
                <div class="card mb-3 p-0 rounded-2" style="max-width: 540px;">
                    <div class="row g-0 p-2">
                        <div class="col-md-4 mt-4">
                            @if (item.ImageData != null && item.ImageType != null)
                            {
                                <img class="img-fluid rounded-2" src="@_imageService.ConvertByteArrayToFile(item.ImageData, item.ImageType)" />
                            }
                            else
                            {
                                <p>Missing Profile Image</p>
                            }
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h5>
                                <p class="">@Html.DisplayFor(modelItem => item.JobTitle)</p>
                                <p class="card-text m-0"><small class="text-muted">Age: @Html.DisplayFor(modelItem => item.Age)</small></p>
                                <p class="card-text m-0"><small class="text-muted">Address: @Html.DisplayFor(modelItem => item.Address) @Html.DisplayFor(modelItem => item.ZipCode)</small></p>
                                <p class="card-text m-0"><small class="text-muted">Gender: @Html.DisplayFor(modelItem => item.Gender)</small></p>
                                <p class="card-text m-0"><small class="text-muted">Phone: @Html.DisplayFor(modelItem => item.PrimaryPhone)</small></p>
                                <p class="card-text m-0"><small class="text-muted">Salary: @Html.DisplayFor(modelItem => item.Salary)</small></p>
                            </div>
                        </div>
                        <div class="card-footer rounded-2 bg-dark text-white text-center">
                            <a class="btn btn-outline-primary text-white" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-outline-warning text-white" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

