@model PocMVCApp.Models.User

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5 p-5 border border-2 rounded-2 bg-light shadow-lg">
    <div class="mb-4">
        <h4>User Details</h4>
        <hr />
        <dl class="row border-2">
            <dt class="col-sm-3 col-12">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-9 col-12">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-3 col-12">
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd class="col-sm-9 col-12">
                @Html.DisplayFor(model => model.Age)
            </dd>
            <dt class="col-sm-3 col-12">
                @Html.DisplayNameFor(model => model.JobTitle)
            </dt>
            <dd class="col-sm-9 col-12">
                @Html.DisplayFor(model => model.JobTitle)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
