@model IEnumerable<PocMVCApp.Models.User>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    @foreach (var item in Model)
    {
        <div class="row d-flex">
            <div class="col-md-6">
                <div class="card mt-2">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text">Job Title: @Html.DisplayFor(modelItem => item.JobTitle)</p>
                        <p class="card-text">Age: @Html.DisplayFor(modelItem => item.Age)</p>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row mt-2">
        <div class="col-12">
            <p class="btn btn-primary">
                <a class="nav-link text-white" asp-action="Create">Join Us</a>
            </p>
        </div>
    </div>
</div>


